<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<true/>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>NetworkState</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.mrgray.dnsmasq</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/authbind</string>
		<string>/xbin/dnsmasq</string>
		<string>--keep-in-foreground</string>
		<string>--log-facility=syslog</string>
		<string>--log-queries</string>
		<string>--conf-file=/usr/local/etc/dnsmasq.conf</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WaitForDebugger</key>
	<true/>
	<key>WatchPaths</key>
	<array>
		<string>/xbin/dnsmasq</string>
	</array>
</dict>
</plist>
